@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


.App {
  text-align: center;
  color: white;
  max-width: 17.7%;
  height: auto;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 400px; 
  background-color: #1A1B21;
}

.profile-photo {
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #161619;
  padding: 20px;
}
